$background: #deded1;
$darkest-brown: #220f0c;
$headers: #897960;
$links: #72614c;
$lightest-beige: #c4c2ad
$button-gradient: linear-gradient(top #897960  #c7bfa3);
$field-gradient: linear-gradient(bottom #deded1  #c4c2ad);
$borders: #fff;
$table-background: #c7bfa3;
$cell-border: #897960;
