$background: #deded1;
$darkest-brown: #220f0c;
$headers: #897960;
$links: #72614c;
$lightest-beige: #c4c2ad
$button-gradient: linear-gradient(to bottom, $headers 0%, $table-background 92%);
$field-gradient: linear-gradient(to top, $background, $lightest-beige);
$borders: #fff;
$table-background: #c7bfa3;
$cell-border: #897960;
