@import './colors';
@import './fonts';

html {
  background: $background;
}

body {
  color: $darkest-brown;
  cursor: default;
  font-family: $small-font;
  margin: 0;
  padding: 50px;
  width: auto;
  background: $background;
}

h1 {
  color: $headers;
  font-family: $big-font;
  font-size: 50px;
  font-variant: small-caps;
  font-weight: normal;
}

h2,
h3 {
  color: $darkest-brown;
  font-family:$big-font;
  font-variant: small-caps;
  font-weight: normal;
}

a {
  color: $links;
  cursor: pointer;
  font-variant: small-caps;
}

a:hover {
  color: $darkest-brown;
}

button {
  margin: 10px;
  cursor:pointer;
  display:inline-block;
  font-size: 15px;
}
button, btn, .navlink {
  background: -webkit-linear-gradient(top, #897960 0%,#C7BFA3 92%);
  cursor: pointer;
  border: 2px ridge $borders;
  line-height: 1;
  text-align: center;
  outline: 0;
  padding: 10px;
  color: $darkest-brown;
  font-family: $big-font;
  font-variant: small-caps;
  radius: 0;
}

.buttonlink {
  color: $darkest-brown;
}

.navlink {
  display: inline-block;
  text-decoration: none;
  margin: 0;

}
input {
  font-family: $small-font;
  color: $darkest-brown;
  background: linear-gradient(to top, #deded1, #c4c2ad);
  margin: 10px;
  font-size: 15px;
  border: ridge 2px white;
  padding: 5px;
}
.navlink:hover,
button:hover {
  color: $links;
}
table {
  background: $table-background;
  color: $darkest-brown;
  text-align: left;
  border: 2px  ridge $borders;
}

td {
  border: 1px $headers solid;
}
.modal-content {
  background: $background;
  radius: 0%;
  margin: auto;
  width: 75%;

}
.clearfix:after {
  clear: both;
  content: ''; /* Older browser do not support */
  visibility: hidden;
  display: block;
  height: 0;
}

.highlight {
  background: $headers;
  width: auto;
}
