@import './colors';
@import './fonts';

html {
  background: $background;
}

body {
  color: $darkest-brown;
  cursor: default;
  font-family: $small-font;
  margin: 0;


  background: $background;
}

.page {
  padding: 15px 30px;
  width: auto;
}

h1 {
  color: $headers;
  font-family: $big-font;
  font-size: 50px;
  font-variant: small-caps;
  font-weight: normal;
}

h2,
h3 {
  color: $darkest-brown;
  font-family:$big-font;
  font-variant: small-caps;
  font-weight: normal;
}

h4 {
  color: $darkest-brown;
  font-family:$big-font;
  font-weight: normal;
}
a {
  color: $links;
  cursor: pointer;
  text-decoration: underline;
  font-variant: small-caps;
}

a:hover {
  color: $darkest-brown;
}
.alert {
  color: #a33900;
  font-family: $big-font;
  font-size: 15px;
}
button {
  margin: 10px;
  cursor:pointer;
  display:inline-block;
  font-size: 15px;
}
button, btn, .navlink {
  background: -webkit-linear-gradient(top, #897960 0%,#C7BFA3 92%);
  cursor: pointer;
  border: 2px ridge $borders;
  line-height: 1;
  text-align: center;
  outline: 0;
  padding: 10px;
  color: $darkest-brown;
  font-family: $big-font;
  font-variant: small-caps;
  radius: 0;
}

hr {
  border-top: 2px ridge $borders;
  margin: 0;
}

.buttonlink {
  color: $darkest-brown;
}
nav {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  width: 100%;
  border-bottom: 2px ridge $borders;
}
.navlink {
  display: inline-block;
  margin: 3px auto;
  width: 150px;
}

input, textarea {
  font-family: $small-font;
  color: $darkest-brown;
  background: linear-gradient(to top, #deded1, #c4c2ad);
  margin: 5px 10px;
  font-size: 15px;
  border: ridge 2px white;
  padding: 5px;
}
::-webkit-calendar-picker-indicator {
label {
  width: 100px;
}
.navlink:hover,
button:hover {
  color: $links;
}
table {
  background: $table-background;
  color: $darkest-brown;
  text-align: left;
  border: 2px  ridge $borders;
}

td {
  border: 1px $headers solid;
  padding: 5px;
}
.modal-content {
  background: $background;
  radius: 0%;
  margin: auto;
  width: 75%;
}
.number-box {
  width: 60px;
}
.image-container {
  width: 100%;
  padding-top: 30px;
  margin: auto;
}
img {
  width: 100%;
}
.highlight {
  background: $headers;
  width: auto;
}

.clearfix:after {
  clear: both;
  content: ''; /* Older browser do not support */
  visibility: hidden;
  display: block;
  height: 0;
}
