@import './colors';
@import './fonts';

html {
  background: $background;
}

body {
  color: $darkest-brown;
  cursor: default;
  font-family: $small-font;
  margin: 0;
  background: $background;
}

.page {
  padding: 15px 30px;
  width: auto;
}

h1 {
  color: $headers;
  font-family: $big-font;
  font-size: 50px;
  font-variant: small-caps;
  font-weight: normal;
}

h2,
h3 {
  color: $darkest-brown;
  font-family:$big-font;
  font-variant: small-caps;
  font-weight: normal;
}

h4 {
  color: $darkest-brown;
  font-family:$big-font;
  font-weight: normal;
  font-size: 20px;
}
a {
  color: $links;
  cursor: pointer;
  text-decoration: underline;
  font-variant: small-caps;
}
a:hover {
  color: $darkest-brown;
}
.alert {
  color: #a33900;
  font-family: $small-font;
  font-size: 15px;
  margin: 0;
}
button {
  margin: 10px;
  cursor:pointer;
  display:inline-block;
  font-size: 15px;
}
button, btn, .navlink {
  background: -webkit-linear-gradient(top, #897960 0%,#C7BFA3 92%);
  cursor: pointer;
  border: 2px ridge $borders;
  line-height: 1;
  text-align: center;
  outline: 0;
  padding: 10px;
  color: $darkest-brown;
  font-family: $big-font;
  font-variant: small-caps;
  radius: 0;
}

hr {
  border-top: 2px ridge $borders;
  margin: 0;
}

.buttonlink {
  color: $darkest-brown;
}
nav {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  width: 100%;
  border-bottom: 2px ridge $borders;
}
.navlink {
  display: inline-block;
  margin: 3px auto;
  width: 150px;
}

input, textarea {
  font-family: $small-font;
  color: $darkest-brown;
  background: linear-gradient(to top, #deded1, #c4c2ad);
  margin: 5px 10px 5px 0px;
  font-size: 15px;
  border: ridge 2px white;
  padding: 5px;
}
label {
  width: 150px;
  font-family: $big-font;
  font-size: 20px;

}
.navlink:hover,
button:hover {
  color: $links;
}
table {

  color: $darkest-brown;
  text-align: left;
  border: 2px  ridge $borders;
  margin: auto;
}

td, th{
  background: $table-background;
  border: 1px $headers solid;
  padding: 5px;
}
th {
  border-bottom: 2px  ridge $borders;
}
span, p{
  font-size: 20px
}
.modal-content {
  background: $background;
  radius: 0%;
  margin: auto;
  width: 75%;
}
.number-box {
  width: 60px;
}
.image-container {
  width: 100%;
  margin: auto;
}
img {
  padding-top: 30px;
  width: 100%;
}
.highlight {
  border: 2px ridge $borders;
  background: linear-gradient(to right, $background, $lightest-beige, $borders, $background);
  width: auto;
}
.button-cell {
  width: 60px;
  border-left: hidden;
}
.note-cell, .button-cell {
  border-bottom: 2px ridge $borders;
}
.table-button {
  background: -webkit-linear-gradient(top, #897960 0%,#C7BFA3 92%);
  border: 2px ridge $borders;
  width: 60px;
  padding: 4px;
  margin: 0;
}
.stat-label {
  color: $headers;
  display: inline;
  padding-right: 5px;
}
.table-label {
  width: 60px;
  font-size: 15px;
}
.clearfix:after {
  clear: both;
  content: ''; /* Older browser do not support */
  visibility: hidden;
  display: block;
  height: 0;
}
@media screen and (max-width: 550px) {
  .hide-mobile{
    display: none;
  }
  .button-cell{
    border-right: hidden;
    width:auto;
    background: $background
  }
  .show-mobile{
    border-top: 2px ridge $borders;
  }
  .flight-table{
    margin: auto;
  }
  .edit-note {
    width: 80%;
  }
  input, .input-desc{
    display: block;
  }

}
@media screen and (min-width: 850px) {
  body {
    background: rgba(222, 222, 210, 0.0);
    padding: 15px 75px;
  }
  img {
    position: absolute;
    top: 110px;
    right: 0;
    z-index: -1;
  }
  .navlink {
    width: 300px;
  }
}
