<!-- Diana, look at the training  for handlebars for syntax help -->
{{#each flights as |flight|}}

 <ul data-id="{{flight.id}}">
    <li>Title: {{book.title}}</li>
    <li>
      {{#if book.description}}
        {{book.description}}
      {{else}}
        No description.
      {{/if}}
    </li>
    <a class='edit'>edit</a>
  </ul>
{{/each}}
